@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Open+Sans|Pacifico');

.jumbotron{
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px;
}

h1{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    font-family: 'Bungee Hairline', cursive;
    text-align: center;
}

h2{
    font-size: 10px;
    text-decoration: none;
    width: 100%;
    font-family: 'Open Sans', cursive;
    text-align: center;
}
#nameText{
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    font-family: 'Pacifico', cursive;
    text-align: center; 
    animation: move 3s;
    -webkit-animation: move 3s;
}
#clicker{
    margin-top: 30px;
    margin-bottom: 30px;
}

@keyframes move {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
            
@-webkit-keyframes move {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}