@import url('https://fonts.googleapis.com/css?family=Anton|Bungee+Shade');
#name{
    font-family: 'Anton', sans-serif;
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    text-align: center;
}
#myCarousel{
    width: auto;
    max-width: 640px;
    height: 460px;
    max-height: 460px;
}
#myCarousel img {
  max-width: auto;
  height: 460px;
  max-height: 460px;
    margin: 0 auto;
}
.carousel-indicators {
  bottom:-100px;
    background-color: lightgrey;
    border: black !important;
}
#myBtn{
    background-color:white;
    color: none;
    padding: none;
    margin: 0px;
    border: none;
}
.csProject{
    align-content: center;
    border: 3px solid black;
    margin:0 auto; 
    width: 70%;
    height: auto;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

