@import url('https://fonts.googleapis.com/css?family=Anton|Bungee+Shade');
#name{
    font-family: 'Anton', sans-serif;
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    text-align: center;
}
#myCarousel{
    width: auto;
    max-width: 640px;
    height: 460px;
    max-height: 460px;
}
#myCarousel img {
  max-width: auto;
  height: 460px;
  max-height: 460px;
    margin: 0 auto;
}
.carousel-indicators {
  bottom:-100px;
    background-color: lightgrey;
    border: black !important;
}
#myBtn{
    background-color:white;
    color: none;
    padding: none;
    margin: 0px;
    border: none;
}
.csProject{
    align-content: center;
    border: 3px solid black;
    margin:0 auto; 
    width: 70%;
    height: auto;
}
