#myCarousel{
    width: auto;
    max-width: 700px;
    height: 500px;
    max-height: 500px;
}
#myCarousel img {
  max-width: auto;
  height: 500px;
  max-height: 500px;
    margin: 0 auto;
}
.carousel-indicators {
  bottom:-100px;
    background-color: lightgrey;
    border: black !important;
}
