

<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list" >
            <li class="p-name">✉️: <span style="color:#5dbcd2;">ar (at) annabelrothschild (dot) com</span>.</li>
            <li>FYI, responses delayed around some major <a href="https://isitajewishholidaytoday.com/">observences</a>.</li>
            <li class="p-name">🎉 Fun Legalese: <a href="https://annabelrothschild.com/impressum/">Impressum</a>.</li>
            <li class="p-name"> <a href="https://annabelrothschild.com/site-credits/">💻 Site Credits.</a> </li>
        </ul>
      </div>
      <div class="footer-col">
      </div>
    </div>

  </div>
</footer>
