

<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
            <li class="p-name" style="text-align:center;">✉️: <span style="color:#5dbcd2;">annabelrothschild (at) tuta (dot) io</span>.</li>
            <li class="p-name" style="text-align:center;">🎉 Fun Legalese: <a href="https://annabelrothschild.com/impressum/">Impressum</a>.</li>
            <li class="p-name" style="text-align:center;"> <a href="https://annabelrothschild.com/site-credits/">💻 Site Credits.</a> </li>
        </ul>
      </div>
      <div class="footer-col">
      </div>
    </div>

  </div>
</footer>
