@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "OpenSans-Regular", sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #ffffff !default;
$brand-color:      #5dbcd2 !default;

$grey-color:       #000000 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

@font-face {
	font-family: "OpenSans-Regular";
	src: url("/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
	font-family: "Abel";
	src: url("/fonts/Abel/Abel-Regular.ttf");
}

@font-face {
	font-family: "OpenSans-SemiBold";
	src: url("/fonts/OpenSans/OpenSans-SemiBold.ttf");
}

@font-face {
	font-family: "Staatliches";
	src: url("/fonts/Staatliches/Staatliches-Regular.ttf");
}

h1 {
	font-family: "Abel", serif;
}

h2, h3 {
    font-family: "OpenSans-SemiBold", sans-serif;
}

h4, h5, h6 {
    font-family: "OpenSans-Regular", sans-serif;
}

